# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.idb
*.ilk
*.log
*.res
*.tlog
*.lastbuildstate

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
